<app-nav [activePage]="'Empreendimentos'"></app-nav>
<div class="content fade">
  <div class="halfImg" style="display: block;">
    <img  [src]="empreendimento.posterBackground" alt="teste">
  </div>

  <div class="content-empreendimento-info">
    <div class="div-empreendimento-info">
      <div class="image--oliveira">
        <div class="golden--div"></div>
        <img  [src]="empreendimento.poster" alt="img empreendimento">
      </div>
      <div class="info--oliveira">
        <h4>
          <img *ngIf="imgBase64.gota" [src]="imgBase64.gota" alt="gota" style="width: 20px; height: 20px" /> {{empreendimento.nome}}
        </h4>
        <ul>
          <li>{{empreendimento.endereco}}</li>
          <li *ngIf="empreendimento.area">{{empreendimento.area}}</li>
          <li *ngFor="let i of empreendimento.info">{{i}}</li>
        </ul>
        <div class="golden-border" ></div>
        <p class="txt-gray">{{empreendimento.infoAdicional}}</p>
        <a [href]="empreendimento.link" target="_blank" > <b>SAIBA MAIS</b></a>
      </div>
    </div>
  </div>

  <div *ngIf="empreendimento.telaInfo" class="empreendimento--vantagem--area">
    <div  class="squad--area">
      <div class="squad">
        <span class="icon-squad">
          <img *ngIf="imgBase64.gota" [src]="imgBase64.gota" alt="gota" style="width: 20px; height: 20px" />
        </span>
        <span class="title-squad">Vantagem</span>
        <p class="txt-gray">{{empreendimento.vantagem}}</p>
      </div>
      <div class="squad leftMargin" >
        <span class="icon-squad" style="padding-bottom: 15px">
          <img *ngIf="imgBase64.bola" [src]="imgBase64.bola" alt="bola" style="width: 15px; height: 15px" />
        </span>
        <span class="title-squad">Diferencial</span>
        <p class="txt-gray">{{empreendimento.diferencial}}</p>
      </div>
      <div class="squad leftMargin">
        <span class="icon-squad">
          <img *ngIf="imgBase64.gota" [src]="imgBase64.gota" alt="gota" style="width: 20px; height: 20px" />
        </span>
        <span class="title-squad">Qualidade</span>
        <p class="txt-gray">{{empreendimento.qualidade}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="empreendimento.telaInfo" class="empreendimento--status--area">
    <div class="status--item" *ngFor="let s of statusArray" [style]="s.stt === 'Incompleto'? 'opacity: 0.4' : 'opacity: 1'">
      <span [style]="s.stt === 'Completo' ? 'background-color: rgb(75,94, 84)' :  'background-color: var(--yellow)'">
        <img [src]="s.icon" />
      </span>

      <div>
        <p>{{s.etapa}}</p>
        <h4>{{s.type}}</h4>
        <span>{{s.stt}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="empreendimento.telaInfo" class="galeria--area">
    <h3 class="title" style="  color: #fff;">SLIM GALERIA</h3>
    <div class="galeria">
      <img  *ngFor="let g of empreendimento.galeria"  [src]="g.img" [alt]="g.local" (click)="openModalFunc(g.img)">
    </div>
  </div>

  <div *ngIf="empreendimento.telaInfo" class="plantas--area">
    <h3 class="title" style="margin-bottom:-20px">PLANTAS</h3>
    <app-slide-plantas [images]=" empreendimento.planta"></app-slide-plantas>
  </div>

  <div *ngIf="empreendimento.telaInfo" class="localizacao--area">
    <h3 class="title" style="  color: #000;">LOCALIZAÇÃO</h3>
    <p>{{empreendimento.endereco}}</p>
    <div id="localizacao">{{stringToHTML(empreendimento.iframe)}}</div>
  </div>



</div>



<div class="modal" *ngIf="openModal" (click)="openModal = false" >
 <button (click)="openModal = false" type="button" style="font-size: 25px; background-color: transparent; color: #fff; border: none; width: 100%; text-align: end; margin-left: -30px">X</button>

 <div class="modal-body">
   <img [src]="imagesrcModal" />
 </div>
</div>