.content--footer{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  width: 80%;

}
.content--container{
  padding: 30px;
  width: 100%;
  background-color: rgb(221, 221, 221);
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;

}
.content-endereco{
  font-size: 13px;
  margin: 20px 5px;
  display: flex;
  flex-direction:column;
}

.content-redes{
  margin-top: 20px ;
}

.img-m{
  margin: 5px;
  height: 30px;
}

.content-listMenu{
  font-size: 12px;
  font-weight: 300;
}

.listMenu-item{
  margin: 2px;
  transition: 0.5s;
}
.content-info{
  line-height: 20px;
  display: flex;
  flex-direction: column;
  color: rgb(39,39,39);
  font-weight: 600;
  font-size: 12px;
  height: 100%;

  padding: 0;
  div{
    margin-bottom: 10px;
  }
}

.arrow--button{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button{
    border: none;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    img{
      width: 40px;
    }
  }
}

.listMenu-item:hover{
  font-size: 11px;
  color: rgb(243, 153, 18);
  font-weight: bold;
}
@media (max-width: 915px) {
  .content--footer{
    width: 100%;
  }
  .logo{
    margin-top:20px;
  }

}

@media (max-width: 740px) {
  .content--footer{
    align-items: center;
    flex-direction: column;
  }
  .arrow--button{
    width: 100%;
    background-color: rgb(221, 221, 221);
    button{
      margin-right: 10px;
      margin-bottom: 10px
    }
  }
  .logo{
    margin-top:20px;
  }

  .content--container{
    height: 600px;
    justify-content: center;
  }
  .content-endereco{
    font-size: 14px;
  }
  .content-redes{
    display: flex;
    justify-content:space-around;
    margin-bottom:10px;
  }
  .listMenu-item{
    margin:5px;
  }
  .content-info{
    line-height: 20px;
    font-size: 14px; 
    div{
      margin-bottom: 20px;
    }
  }
}