<div class="content--container">
  <div class="content--footer">

    <div>
      <img class="logo" [src]="info.logo">
      <div class="txt-gray content-endereco" *ngIf="info.endereco">
        <span > {{info.endereco.rua ? info.endereco.rua : ''}}, {{info.endereco.numero}} {{info.endereco.complemento}}</span>
        <span > {{info.endereco.bairro}}, {{info.endereco.cidade}}, {{info.endereco.estado}}</span>
        <span > CEP: {{info.endereco.cep}}</span>
      </div>
      <div class="content-redes" >
        <a  *ngFor="let item of info.redesSociais" [href]="item.link" target="_blank"><img class="img-m" [src]="item.logo" /></a>
      </div>
    </div>
    <div class="txt-gray content-listMenu" style="display: flex; flex-direction:column">
      <a *ngFor="let item of listMenu" class="notStyle txt-gray listMenu-item" [href]="item.link" >{{item.name}}</a>
    </div>
    <div class="content-info" >
      <div >
        <p style="margin: 0; padding: 0;">{{info.nomeAno}}</p>
        <p  style="margin: 0; padding: 0;"> Todos os direitos reservados.</p>
        <p  style="margin: 0; padding: 0;">CNPJ: {{info.cnpj}}</p>
      </div>
      
      <div  style="margin: 0; padding: 0; "> <p>Confira a nossa <a>Política de privacidade</a></p></div>
     
    </div>
  </div>
  <div class="arrow--button">
    <button (click)="goToStart()"> <img [src]="info.arrowUpImage"></button>
  </div>
 </div>
