.movieRow {

}
.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

/**********************
Como foi feito a area de rolagem dos filmes: listArea, liste e item;
**********************/
.movieRow--listArea {
  overflow: hidden;
  padding-left: 30px;
}
.movieRow--list {

  display: flex;
  transition: all ease 0.5s;
}
.movieRow--item {
  display: inline-block;
  width: 350px;
  height: 550px;
  transition: all ease 0.5s;
}
.movieRow--item:hover{
  p{
    color: #fff;
  }
}

#opacity_div{
  background: linear-gradient(to top, #fff 30%, transparent 100%);
  width: 350px;
  height: 550px;
  position:absolute;
  opacity: 1; /* manipulate to desired opacity */
  z-index: 144;
  transition: all ease 0.2s;
  
}

#opacity_div2{
  background: linear-gradient(to top, #fff 30%, transparent 5%);
  width: 350px;
  height: 550px;
  position:absolute;
  opacity: 1; /* manipulate to desired opacity */
  z-index: 144;
  transition: all ease 0.2s;
  box-shadow: 5px 5px 40px rgb(255,255, 255);
}

.absolute-text{
  z-index: 150; 
  position: absolute;
}

.status-div{
  background-color: rgb(34, 56,43);
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  right: 15%;
  left: 15%;
}

.text-title{
  color: #000000;
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  bottom: 10%;
  right: 0;
  left: 0;
}

.text-subtitle{
  color: rgb(132, 132, 132);
  font-size: 15px;
  font-weight:100;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
}


#opacity_div:hover, #opacity_div2:hover{
  background: #fff;
  opacity:0; /* manipulate to desired opacity */
}
.teste{

  width: 350px;
  height: 550px;
  position:absolute;
  opacity:0.8; /* manipulate to desired opacity */
  z-index: 144;
  transition: all ease 0.2s;
}
.teste:hover{
  opacity:0; /* manipulate to desired opacity */
}

.movieRow--item {
  cursor: pointer;
  transition: all ease 0.2s;
  transform: scale(0.9);
  position: relative;
  overflow: hidden;

  img{

    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    filter: saturate(150%);
    transition: all 1s ease;
  }
}

.movieRow--item:hover {
  transform: scale(1);
}

.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 40px;
  height: 550px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(255, 255,255, 0.6);
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieRow--left {
  left: 0;
}
.movieRow--right {
  right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}

.btn-prev, .btn-next{
  background-color: #fff;
  border: none;
  left: 0;
}

.teste{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 1023px) {
  #opacity_div, #opacity_div2{
    background: #fff;
    opacity:0.1; /* manipulate to desired opacity */
  }
  .movieRow--right,
  .movieRow--left {
    opacity: 1;
  }

  .movieRow--item {
    display: inline-block;
    width: 350px;
  }

  .movieRow--listArea {
    margin: 0;
    padding: 0;
  }
  
  .text-subtitle{
    color: #fff;
  }
}












