


.content{
  width: 100%;
  overflow: hidden;
}

.img-m{
  margin: 5px;
  height: 30px;
}

.content-redes{
  margin-top: 35px;
}

.text--faleConosco{
  color: var(--dark-gray);
  font-size: 25px;
  margin-bottom: -30px;
}

.button-faleConosco{
  margin-bottom:40px;
  margin-top: 60px;
  background-color: var(--yellow);
  color: #fff;
  font-size: 45px;
  b {
    margin-left: 10px;
  }
}

.img--faleConosco{
  width: 100px;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  img{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
  }
}



.image--oliveira{
  img{
    height: 350px;
  }
}

.sobre--info{
  width: 450px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:flex-start
}

.sobre--title{
  color: var(--dark-gray);
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 30px;
}

.sobre--subtitle{
  margin-bottom: 35px;
  color: var(--golden);
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 35px;
}

.sobre--frase{
  margin-top: -20px;
  color: rgb(167, 167, 167);
}

.content-sobre-info{

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-frase{
  margin-top: 30px;
  background-color: rgb(88, 88, 88);
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aspas{
  font-size: 100px;
  width: 60px;
  margin-right: -15px;
  font-family: 'Sorts Mill Goudy', serif;
}

.frase{
  width: 50%;
  font-size: 11px;
}

.frase--conteudo{
  font-size: 17px;
  line-height: 23px;
  font-weight: lighter;
  font-style: italic;
}

.frase--posicao{
  margin-top: -17px;
  margin-left: 10px;
}

.empreendimento-titulo{
  color: var(--green);
  font-size: 40px;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 30px;
}

.golden--div{
  margin-bottom: -400px;
  margin-left: 20px;
  width: 400px;
  height: 450px;
  background-color:var(--golden);
}


@media (max-width: 865px) {
  .empreendimento-titulo{
    font-size: 25px;
    margin-top: 10px;
  }

  .sobre--info{
    padding: 10px;
  }
  
  .sobre--title{
    font-size: 35px;
  }
  
  .sobre--subtitle{
    font-size: 25px;
  }
  
  .sobre--frase{
    margin-top: -10px;

  }

  .golden--div{
    margin-bottom: -350px;
    margin-left: 20px;
    width: 300px;
    height: 400px;
    background-color:var(--golden);
  }
  
  .image--oliveira{
    img{
      height: 300px;
    }
  }
}

@media (max-width: 740px) {
 
  
  .content-sobre-info{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .sobre--info{
    width: 100%;
    padding: 10px;
  }

  .sobre--title{
    font-size: 21px;
  }
  
  .sobre--subtitle{
    font-size: 20px;
  }
  
  .sobre--frase{
    margin-top: -10px;
  }

  .golden--div{
    margin-bottom: -270px;
    margin-left: 20px;
    width:250px;
    height: 300px;
    background-color:var(--golden);
  }
  
  .image--oliveira{
    img{
      height: 250px;
    }
  }

  .frase{
    width: 80%;
  }

  .button-faleConosco{
    font-size: 30px;
    b {
      margin-left: 5px;
    }
  }
}