<div class="content fade">
  <app-nav [activePage]="'Home'"></app-nav>
  <app-carousel [images]="images"></app-carousel>
  <app-slideCarousel  [images]="images"></app-slideCarousel>

  <div class="content-sobre-info">
    <div class="sobre--info">
      <h3 class="sobre--title" >Uma construtora de <b>raízes fortes</b></h3>
      <h1 class="sobre--subtitle" style="text-align: center;" >Sobre a Oliveira</h1>
      <div class="sobre--frase">{{homeInfo.sobre}}</div>
      <div>
        <div class="content-redes" >
          <a  *ngFor="let item of redesSociais" [href]="item.link" target="_blank"><img class="img-m" [src]="item.logo" /></a>
        </div>
      </div>
    </div>
    <div >
      <div class="golden--div"></div>
      <div class="image--oliveira">
        <img [src]=" homeInfo.imgHome" alt="Oliveira" class="src">
      </div>
    </div>
  </div>

  <div class="content-frase">
    <div class="frase" *ngIf="homeInfo.frase">
      <p class="frase--conteudo" *ngIf="homeInfo.frase"><img class="aspas" [src]="homeInfo.aspas">{{homeInfo.frase.conteudo ? homeInfo.frase.conteudo : ''}}</p>
      <p class="frase--nome" style="  font-weight: bold;">{{homeInfo.frase.nome}}</p>
      <p class="frase--posicao" >{{homeInfo.frase.posicao}}</p>
    </div>
    
  </div>

  <div style="display:flex; flex-direction: column; align-items:center; justify-content:center;">
    <h2 class="empreendimento-titulo" ><b>Nossos</b> Empreendimentos</h2>
    <p class="sobre--frase" style="text-align: center; margin-top: 5px">para morar e trabalhar: conheça nossos empreendimentos</p>
    <div>
      <app-slideCard  [images]="images"></app-slideCard>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
    <p class="empreendimento-titulo"> Encontrou o seu <b>Imóvel Ideal?</b></p>
    <div style="display: flex; align-items: center; justify-content: space-around;">

      <div class="img--faleConosco" > 
        <img [src]="homeInfo.whats">
        <span><b>Converse</b> Conosco</span>
      </div>

      <div class="img--faleConosco" style="margin-left: 80px">
        <img [src]="homeInfo.calendar">
        <span>Agende uma <b>Visita</b></span>
      </div>
    </div>
    <div class="text--faleConosco">Precisa de mais informações?</div>

    <a class="buttonOrange button-faleConosco" [href]="whatsLink" target="_blank" style="text-decoration: none">FALE <b>CONOSCO</b></a>
  </div>

</div>
