<nav class="menuContainer">
  <a routerLink="/" ><img class="logo" [src]="infoNav.logo"></a> 
  <ol class="menuContainer-lista">
    <li  *ngFor="let item of listItemsMenu" ><a class="menuContainer-lista-item item-animation {{ activePage === item.name ? 'active-item': ''}} " [routerLink]="item.link" >{{item.name}}</a></li>
  </ol>
 
</nav>


<div class="menuCelular" *ngIf="showMenu">
  <ol >
    <li  *ngFor="let item of listItemsMenu" ><a  [routerLink]="item.link" (click)="showMenu = false" >{{item.name}}</a></li>
  </ol>
</div>