$background   : rgb(255, 255, 255);
$background-hover   :  rgb(241, 241, 241);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans;
}

.menuContainer{
  position: fixed;
  background-color: $background;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 14px;
  z-index: 999;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  ol{
    display: flex;
    height: 80px;
    list-style-type: none;
  };
}
.menuContainer-lista-item{
  height: 80px;
  color: #244837;
  text-decoration: none;
  font-weight: bold;
  padding: 35px 15px 15px 15px;
  background-color: $background;
  position: relative;
  display: inline-block;
  border:none;
  transition: all 1s ease;
}
.menuContainer-lista-item:hover, .active-item{
  background-color: $background-hover ;
  cursor: pointer;
}
.menuButton{
  display: none;
  margin-right: 20px;
  height: 30px;
  width: 30px;
  color: rgb(243, 153, 18);
}

.activeMenu{
  background-color: rgb(243, 153, 18);
  padding: 2px;
  border-radius: 50%;
  animation-name: backgroundMenu;
  animation-duration: 1s;
}

.menuCelular{

  position: fixed;
  top: 60;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 998;
  background-color: $background;
  ol{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  li{
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid $background-hover;
  }

  a{
    text-decoration: none;
    font-size:  20px;
    color: #244837;
  }

  animation-name: menuFrame;
  animation-duration: 0.8s;
}

@keyframes backgroundMenu {
  from {
    background-color: #fff;
  }
  to {
    background-color: rgb(243, 153, 18);
  }
}

@keyframes menuFrame {
  from {
    opacity: 0.6;
    margin-top: -615px;
    margin-right: -615px;
    
  }
  to {
    opacity: 1;
    margin-top: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 915px) {
  .menuContainer-lista-item{
    font-size: 11px;
  }
}

@media (max-width: 740px) {
  .menuContainer-lista-item{
    display: none;
  }
  .menuContainer{
    justify-content: space-between;
  }

  .menuButton{
    display: block;
  }
}