$dark-gray: rgb(230, 230, 230);

.content{
  display: flex;
  flex-direction: column;
  background-color:$dark-gray;
  margin: 20px 0;
}

.card-img{
  width: 100%;
}

.corpo--tecnico{
  margin-top: 39px;
  margin-right: -20px;
  z-index: 100;
  position: absolute;
  padding: 10px 20px 8px 10px ;
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  color: white;
  font-weight: bold;
}

.trapezio {
  margin-top: 39px;
  margin-right: -42px;
  z-index: 99;
  position: absolute;
  transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  border-bottom: 35px solid var(--yellow);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 196px;
}

.card-area{
  display: flex;
  padding: 30px 30px 0 30px;
}

.card-info{
  flex: 1;
  margin-bottom: 20px;
  h4{
    width: 90%;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 28px;
    border-bottom: 4px solid var(--yellow);
  }

  p{
    margin: 3px;
    letter-spacing: 1px;
    color: var(--dark-gray);
    font-size: 13px;
  }
}

.card-area-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  span{
    letter-spacing: 1px;
    color: var(--green);
    font-weight: bold;

  }

  a{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 170px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
  }
}

@media (max-width:1203px) {
  .card-info{
    h4{
      width: 70%;
    }
  }
}

@media (max-width: 903px) {
  .card-area{
    padding: 0;
  }
  
  .card-info{
    margin-bottom: 0;
    h4{
      line-height: 25px;
      width: max-content;
      letter-spacing: 3px;
      font-size: 23px;
      border-bottom: 3px solid var(--yellow);
    }
  }
}


@media (max-width: 800px) {

 
  .content{
 
    margin:0 0 40px 0  ;
  }

  .card-area{
    flex-direction: column;
    padding: 0;
  }
  
  .card-info{
    margin-bottom: 0;
    h4{
      line-height: 20px;
      width: max-content;
      letter-spacing: 3px;
      font-size: 18px;
      border-bottom: 4px solid var(--yellow);
    }
  
    p{
      margin: 1px;
      font-size: 13px;
    }
  }
  
  .card-area-button{
    flex: 1;
    margin-top: 20px;
    span{
      letter-spacing: 1px;
      color: var(--green);
      font-weight: bold;
    }
  
    a{
      font-size: 20px;
      width: 100vw;
    }
  }
  
}
