/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Edu+VIC+WA+NT+Beginner:wght@400;500;700&family=Poiret+One&family=Questrial&family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.cdnfonts.com/css/azo-sans');
:root {
  --yellow:  rgb(219, 137, 7);
  --green: #244837;
  --golden: rgb(210, 187, 139);
  --dark-gray: rgb(88, 88, 88);
}


html, body { height: 100%;  scroll-behavior: smooth;}
body { margin: 0; font-family: 'Azo Sans', sans-serif; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Azo Sans', sans-serif;
}

.txt-gray{
  color: rgb(99, 99, 99);
}

.notStyle {
  text-decoration: none;
  list-style: none;
}

.logo{
  width:  150px;
  margin-right: 50px;
}

.buttonOrange{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.halfImg{
  margin: 0 ;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: inherit;
  height: 400px;
  img{
    position: absolute;
    left:50%;
    right:50%;
    top:50%;
    width:100vw;
    height: 600px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    filter: brightness(40%);
  }
}

.input-text{
  margin-left: 30px;
  width: 100%;

  input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
  }

  input::placeholder{
    font-size: 15px;
  }

  input:focus::placeholder{
    font-size: 11px;
    padding-top: -15px;
  }

  textarea {
    padding: 10px 0;
    width: 100%;
    height: 120px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
  }

  textarea::placeholder{
    font-size: 15px;
  }
  textarea:focus::placeholder{
    font-size: 11px;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.fade{
  animation-name: fade;
  animation-duration: 1s;
}

.modal{
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.modal-body{
  display: flex; 
  align-items: center; 
  justify-content: center;
   height: 100%;

   img{
    max-height: 80%;
   }
}

.plantas--area{
  margin:  50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.localizacao--area{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 20px;
    color: rgb(54, 54, 54);
    text-align: center;
  }
  div{
    display: flex;
    align-items: center;
    width: 70%;
    padding: 20px;
    height: 50vh;
  }
}


@media (max-width: 823px) {
  .modal-body{
    width: 100%;
     height: 100%;
  
     img{
      width: 100%;
      max-height: 80%;
     }
  }

  .halfImg{
    height: 200px;
    img{
      top: 80px;
      height: 400px;
    }
  }
  .localizacao--area{
    padding: 50px 0 ;
    p {
      font-size: 16px;
    }
    div{
      width: 100%;
      padding: 20px;
      height: 50vh;
    }
  }

  .input-text{
    input {
      height: 80px;
      font-size: 21px;
    }

    textarea {
      height: 210px;
      font-size: 21px;
    }
  }
  .principal-titulo{
    font-size: 30px;
  }
}
