/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Edu+VIC+WA+NT+Beginner:wght@400;500;700&family=Poiret+One&family=Questrial&family=Sorts+Mill+Goudy&display=swap');

.logo{
  width:  150px;
  margin-right: 50px;
}
html, body { height: 100%;  scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.txt-gray{
  color: rgb(99, 99, 99);
}
.notStyle {
  text-decoration: none;
  list-style: none;
}

.buttonOrange{
  display: flex;
  justify-content: center;
  padding: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}



