.principal-titulo{
  font-size: 40px;
  font-weight: bold !important;
  margin-top: 30px;
}

.content{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.card-empreendimento{
  width: 50vw;
}

.card-empreendimento-area{
  width: 100vw;
  background-image: url(../../../assets/images/empreendimento.png);
}


.buttons-list{
  display: flex;
  width: 70%;
  margin-bottom: 20px;
}

.button-item{
  border: none;
  width: 100%;
  height: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(159, 157, 157);
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.5s ease;

}

.button-item-active{
  border: none;
  width: 100%;
  height: 50px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  
  line-height: 17px;

  letter-spacing: 3px;
  font-size: 13px;
  border-bottom: 4px solid var(--yellow);
}

.vantagens-area{
  border-top: 2px solid #fff;
  padding: 50px 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  background-color: var(--green);
  h4{
    color: #fff;
    font-size: 35px;
    margin: 20px 0;
  }
  p{
    margin: 20px 0 70px 0 ;
    text-align: center;
    color: rgb(204, 204, 204);
  }
}

.img--faleConosco{
  width: 100px;
  display: flex;
  flex-direction: column;
  img{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
  }
  span{
    color: #fff;
  }
}


@media (max-width: 1323px) {

  .card-empreendimento{
    width: 50%;
  }
}

@media (max-width: 1223px) {
  .card-empreendimento{
    width: 60%;
  }
}

@media (max-width: 923px) {
  .buttons-list{
    width: 100%;
  }

  .button-item{
    font-size: 11px;
    letter-spacing: 0.5px;
    margin: 0 10px;
  }

  .button-item-active{
    margin: 0 10px;
  }
  
  .card-empreendimento{
    width: 80%;
  }

  .vantagens-area{
    padding: 10px 20px;
    h4{
      font-size: 25px;
      margin: 40px 0;
    }
    p{
      margin: 10px 0 20px 0;
      font-size: 16px;
    }
  }
}

@media (max-width: 823px) {
  .card-empreendimento{
    width: 100%;
  }
  .button-item{
    font-size: 11px;
    letter-spacing: 0;
    margin: 0 5px;
  }

  .button-item-active{
    margin: 0 5px;
  }
  
  .principal-titulo{
    font-size: 30px;
  }
}
