<div class="content">
  <app-nav [activePage]="'Empreendimentos'"></app-nav>
  <div class="halfImg" style="display: block;">
    <img  [src]="pageInfo.imgPrincipal" alt="teste">
  </div>

  <h1 class="principal-titulo" >EMPREENDIMENTOS</h1>
  <p class="txt-gray">{{pageInfo.texto1}}</p>
  <div  [style]="' background: url(' + pageInfo.background + ');'">

  </div>
  <div class="buttons-list">
    <button class="{{activeOption !== 'TODOS'? 'button-item' :'button-item-active' }}" (click)=" filterEmpreendimento('TODOS')">TODOS</button>
    <button class="{{activeOption !== 'EM ANDAMENTO'? 'button-item' :'button-item-active' }}" (click)="filterEmpreendimento('EM ANDAMENTO')">EM ANDAMENTO</button>
    <button class="{{activeOption !== 'FUTURO LANÇAMENTO'? 'button-item' :'button-item-active' }}" (click)="filterEmpreendimento('FUTURO LANÇAMENTO')">FUTUROS LANÇAMENTOS</button>
    <button class="{{activeOption !== 'ENTREGUE'? 'button-item' :'button-item-active' }}" (click)="filterEmpreendimento('ENTREGUE')">ENTREGUES</button>
  </div>


  <div style="display:flex; flex-direction:column; align-items:center; justify-content:center;" class="card-empreendimento-area">
    <app-card-empreendimento class="card-empreendimento" *ngFor="let info of empreendimentoFilter" [image]="info"></app-card-empreendimento>
  </div>
  
  <div  class="vantagens-area">
    <h4>Vantagens de ser cliente Oliveira</h4>
    <p >{{pageInfo.vantagemTexto}}</p>
    <div style="display: flex;">
      <div class="img--faleConosco">
        <img [src]="pageInfo.calendar">
        <span>Agende uma <b>Visita</b></span>
      </div>
      <div class="img--faleConosco" style="margin-left: 80px"> 
      
        <img [src]="pageInfo.whats">
        <span><b>Converse</b> Conosco</span>
      </div>
    </div>

  </div>
</div>